{% extends "base.html" %}

{% block title %}Consultations | TT-Mick-P{% endblock %}

{% block content %}
<h1>Consultations</h1>
<p>This is the only consultation in the demo data - it contains very little other than its id and the datetime stamp as the actual data is in the Events table</p>
<p>It is for the patient with id 9000001</p>
<p>Clicking 'View' will show the consultation details in context with all associated events that have this consultation id</p>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Patient ID</th>
            <th>Assigned Date</th>
            <th>Location</th>
            <th>Consultation Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for consultation in consultations %}
        <tr>
            <td>{{ consultation.id }}</td>
            <td>{{ consultation.patient_id }}</td>
            <td>{{ consultation.assigned_date }}</td>
            <td>{{ consultation.location_id }}</td>
            <td>{{ consultation.consultation_type }}</td>
            <td>
                <a href="{% url 'consultation_combined' consultation.id %}">View</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No consultations available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
