{% extends "base.html" %}

{% block title %}Event Detail | TT-Mick-P{% endblock %}

{% block content %}
<h1>Event Detail</h1>
<table>
    <tr><th>ID</th><td>{{ event.id }}</td></tr>
    <tr><th>Patient ID</th><td>{{ event.patient_id }}</td></tr>
    <tr><th>Assigned Date</th><td>{{ event.assigned_date }}</td></tr>
    <tr><th>Date Part</th><td>{{ event.date_part }}</td></tr>
    <tr><th>Event Author ID</th><td>{{ event.event_author_id }}</td></tr>
    <tr><th>Consultation ID</th><td>{{ event.consultation_id }}</td></tr>
    <tr><th>Descriptive Text</th><td>{{ event.descriptive_text }}</td></tr>
    <tr><th>Display Term</th><td>{{ event.display_term }}</td></tr>
    <tr><th>Episodicity</th><td>{{ event.episodicity }}</td></tr>
    <tr><th>Event Type ID</th><td>{{ event.event_type_id }}</td></tr>
    <tr><th>Code</th><td>{{ event.code }}</td></tr>
    <tr><th>Term ID</th><td>{{ event.term_id }}</td></tr>
    <tr><th>Numeric Operator</th><td>{{ event.numeric_operator }}</td></tr>
    <tr><th>Numeric Value</th><td>{{ event.numeric_value }}</td></tr>
    <tr><th>Numeric Units</th><td>{{ event.numeric_units }}</td></tr>
    <tr><th>Numeric Minimum</th><td>{{ event.numeric_minimum }}</td></tr>
    <tr><th>Numeric Maximum</th><td>{{ event.numeric_maximum }}</td></tr>
    <tr><th>Min Range Operator</th><td>{{ event.min_range_operator }}</td></tr>
    <tr><th>Max Range Operator</th><td>{{ event.max_range_operator }}</td></tr>
    <tr><th>Abnormal</th><td>{{ event.abnormal }}</td></tr>
    <tr><th>External Consultant</th><td>{{ event.external_consultant }}</td></tr>
    <tr><th>GMS</th><td>{{ event.gms }}</td></tr>
    <tr><th>Data Source</th><td>{{ event.data_source }}</td></tr>
    <tr><th>Policy ID</th><td>{{ event.policy_id }}</td></tr>
    <tr><th>Template Instance ID</th><td>{{ event.templateinstance_id }}</td></tr>
    <tr><th>Template ID</th><td>{{ event.template_id }}</td></tr>
    <tr><th>Template Component Name</th><td>{{ event.template_component_name }}</td></tr>
    <tr><th>Deleted</th><td>{{ event.deleted }}</td></tr>
    <tr><th>Reason for Deletion</th><td>{{ event.reason_for_deletion }}</td></tr>
    <tr><th>Record Date</th><td>{{ event.record_date }}</td></tr>
    <tr><th>GUID</th><td>{{ event.guid }}</td></tr>
    <tr><th>SRC XML</th><td>{{ event.src_xml }}</td></tr>
    <tr><th>Batch ID</th><td>{{ event.batch_id }}</td></tr>
    <tr><th>Assigned Date Time Zone</th><td>{{ event.assigned_date_time_zone }}</td></tr>
    <tr><th>Event Original Author</th><td>{{ event.event_original_author }}</td></tr>
    <tr><th>Updated</th><td>{{ event.updated }}</td></tr>
    <tr><th>Inserted</th><td>{{ event.inserted }}</td></tr>
</table>
{% endblock %}
