{% extends "base.html" %}

{% block title %}Welcome to TT-Mick-P{% endblock %}

{% block content %}
<h1>Welcome to the TT-Mick-P</h1>
<p>This WebApp is designed to demonstrate key aspects of data/clinical code entry and storage</p>

<ul>
    <li><a href="{% url 'event_list' %}">View Events Data Examples</a></li>
    <li><a href="{% url 'consultation_list' %}">View Consultation Data Examples</a></li>
    <!-- <li><a href="/admin/">Go to Admin Site</a></li> -->
    <li><a href="/import-tex/">Input Template rendering and associated Read codes</a></li>
    <li><a href="/dental/">Dental Chart rendering and associated Read codes</a></li>
    <li><a href="/audio/">Audiometry POC - Input, Comparison and Analysis Combined</a></li>
</ul>
{% endblock %}
