{% extends "base.html" %}

{% block title %}Welcome to My Django App{% endblock %}

{% block content %}
<h1>Welcome to the Mick-P</h1>
<p>Here are some links to get started:</p>

<ul>
    <li><a href="{% url 'event_list' %}">View Events Data Examples</a></li>
    <li><a href="{% url 'consultation_list' %}">View Consultation Data Examples</a></li>
    <!-- <li><a href="/admin/">Go to Admin Site</a></li> -->
    <li><a href="/import-tex/">Input Template rendering and associated Read codes</a></li>
    <li><a href="/dental/">Dental Chart rendering and associated Read codes</a></li>
</ul>
{% endblock %}
